@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


// @mixin toggleImageHeader
//   @media screen and ( max-width: 1480px )
//     @content
@mixin smallDesktop
  @media screen and ( max-width: 1310px )
    @content
@mixin tinyDesktop
  @media screen and ( max-width: 1015px )
    @content
@mixin tablet
  @media screen and ( max-width: 865px )
    @content
@mixin mobile
  @media screen and ( max-width: 700px )
    @content
    
  


$royal-blue: #5956E9
$black: #232233
$white: #fff
$gray: #6C6C72

$effect-box-shadown: 0px 1px 10px  rgba(0, 0, 0, 0.10)

html 
  font-size: 62.5%

body
  font-family: 'Josefin Sans'

#home 
  height: 100vh
  min-height: 860px
  background-image: url('../assets/imgs/backgrounds/background_header.png')
  background-size: cover
  display: grid
  grid-template-columns: 10% 1fr 10%
  @include smallDesktop
    grid-template-columns: 5% 1fr 5%
  @include mobile
    min-height: 122.7rem

  >header
    grid-column: 2
    margin-top: 3.5rem
    display: flex
    flex-direction: column
    gap: 1.5rem
    @include smallDesktop
      gap: 3.5rem
      

    .contactNav
      width: 100%
      display: flex
      justify-content: space-between
      color: $white
      >div:first-child
        display: flex
        gap: 4.7rem
        >figure
          display: flex
          align-items: center
          gap: 2.8rem
          >figcaption
            font-size: 1.6rem

      >div:last-child
        display: flex
        gap: 3rem
        


    >nav
      height: 6rem
      display: flex
      align-items: center
      justify-content: space-between
      background-color: $white
      border-radius: .5rem


      #logoHeader
        width: 20rem
        height: calc( 100% + 3rem )
        background-color: $white
        border-radius: .5rem
        display: grid
        place-items: center
        box-shadow: $effect-box-shadown
        >img
          width: 16.7rem
          height: 2.6rem

      >ul
        display: flex
        align-items: center
        gap: 4rem
        font-size: 2rem
        font-weight: 600
        text-transform: uppercase
        @include smallDesktop
          gap: 1.8rem
        @include tinyDesktop
          font-size: 1.6rem
          gap: 1.1rem

        a
          text-decoration: none
          color: $black
          &:not( ul:last-child>li:last-child>a)::after
          @include tablet
            display: none
          &:not( ul:first-child>li:first-child>a, ul:last-child>li:last-child>a)::after
            content: ''
            display: block
            width: 0%
            height: 1px
            background-color: $black
            transition: 0.4s ease
          &:not( ul:first-child>li:first-child>a, ul:last-child>li:last-child>a):hover::after
            width: 100%
      
      // botão home
      >ul:first-child>li:first-child
        margin-left: 5.2rem
        @include smallDesktop
          margin-left: 3.2rem
        @include tinyDesktop
          margin-left: 2.2rem
        >a
          color: $royal-blue
          &::after
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: $royal-blue
            

      // botão donwload
      >ul:last-child>li:last-child>a
        width: 15.8rem
        height: 5rem
        margin-right: .5rem
        color: $white
        background-color: $royal-blue
        border-radius: .5rem
        display: flex
        align-items: center
        justify-content: center
        &:hover
          background-color: #6663e2

      
  
  // seção de conteudo em texto e imagem de celular da home


  $margin-conteiner-conteudo-text-top-right-left: 4rem 2.3rem 0rem 3rem
  $margin-conteiner-conteudo-text-right-bottom-left: 0rem 2.3rem 4rem 3rem
  @include tablet
    $margin-conteiner-conteudo-text-top-right-left: 1.4rem .7rem 0rem 1.8rem
    $margin-conteiner-conteudo-text-right-bottom-left: 0rem .7rem 1.4rem 1.8rem

  >section
    grid-column: 2/4
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    overflow: hidden
    @include mobile
      flex-direction: column
    
    .conteudoHeader
      width: 57rem
      height: 43.2rem
      display: flex
      justify-content: space-between
      flex-direction: column
      background-color: $white
      border-radius: 1px
      position: relative
      z-index: 10
      @include smallDesktop
        width: 51.3rem
        height: 42rem
      @include tinyDesktop
        width: 46.1rem
        height: 38rem
      @include tablet
        width: 35.6rem
        height: 31.8rem



      >div:first-child
        margin: $margin-conteiner-conteudo-text-top-right-left
        >h1
          font-size: 4.88rem
          text-transform: uppercase
          font-weight: bold
          line-height: 130%
          color: $royal-blue
          margin-bottom: 1.8rem
          @include smallDesktop
            font-size: 4rem
          @include tinyDesktop
            font-size: 3.5rem
            margin-bottom: .6rem
          @include tablet
            font-size: 3.12rem
            margin-bottom: .6rem
        >p
          width: 85%
          font-size: 1.6rem
          line-height: 24px
          color: $gray
          @include tablet
            width: 100%

      >div:last-child
        margin: $margin-conteiner-conteudo-text-right-bottom-left
        >h3
          font-size: 2.5rem
          font-weight: 600
          line-height: 37.5px
          text-transform: uppercase
          color: $black
          margin-bottom: .5rem
          @include tinyDesktop
            font-size: 2rem
        >figure
          display: flex
          align-items: center
          gap: 1.4rem
          >img
            width: 14.9rem
            height: 4.7rem

    // borda quadrado envolta do titulo e descrição
    .bordaQuadrada
      width: 57rem
      height: 43.2rem
      position: absolute
      display: flex
      align-items: center
      left: 50px
      z-index: 1
      @include smallDesktop
        width: 51.3rem
        height: 42rem
      @include tinyDesktop
        width: 46.1rem
        height: 38rem
      @include tablet
        width: 37.5rem
        height: 31.8rem
        left: 16px

      >div
        width: 100%
        height: calc( 100% + 100px )
        border: 1.8rem solid #7572FF
        z-index: -1
        @include smallDesktop
          height: calc( 100% + 70px )
        @include tinyDesktop
          height: calc( 100% + 80px )
        @include tablet
          height: calc( 100% + 32px )
  
    >figure
      height: 100%
      >img
        width: 100%
        height: 90%
        margin-left: 50px
        object-fit: contain
        object-position: left



// section do About

main>section:first-child
  height: 101.4rem
  display: grid
  place-items: center
  grid-template-columns: 12% 1fr 12%
  @include tinyDesktop
    height: 84.8rem
    grid-template-columns: 5% 1fr 5%
  

  #contentAbout
    width: 100%
    grid-column: 2
    display: flex
    flex-direction: column
    align-items: center
    gap: 6rem

    >div:first-child
      width: 100%
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      gap: 1.8rem
      >h3
        font-size: 3.12rem
        font-weight: bold
        text-transform: uppercase
        line-height: 47.3px
        color: $black
      >p
        width: 60rem
        font-size: 1.6rem
        line-height: 24px
        color: $gray
    
    >div:last-child
      widows: 100%
      display: flex
      align-items: center
      justify-content: space-between
      >figure
        flex: 1
        >img
          width: 100%
          max-width: 38.6rem


      .containerCardsAbout
        flex: 1
        display: flex
        flex-direction: column
        gap: 4rem
        @include tinyDesktop
          flex: 1.5
          gap: 2rem
        >div
          height: 16rem
          display: grid
          grid-template-columns: 1.8rem 4.1rem 1fr 2rem
          grid-template-rows: 3rem 1fr 2.1rem
          box-shadow: $effect-box-shadown
          border-radius: 1rem
          overflow: hidden
          @include tinyDesktop
            height: 11rem
          >figure
            grid-column: 2
            grid-row: 2
            height: 80%

          >div:last-child
            grid-column: 3
            grid-row: 2
            display: flex
            flex-direction: column
            justify-content: space-between
            >h4
              font-size: 2rem
              font-weight: 600
              text-transform: uppercase
              line-height: 30px
              color: $black
            >p
              font-size: 1.6rem
              line-height: 24px
              color: $gray
              @include smallDesktop
              
              

// section de App features

main>section:nth-child(2)
  height: 171rem
  display: flex
  align-items: center
  justify-content: center
  background-image: url('../assets/imgs/backgrounds/background_header.png')
  background-size: cover
  background-position: bottom

  #contentFeatures
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    >div:first-child
      width: 100%
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      gap: 1.8rem
      >h3
        font-size: 3.12rem
        font-weight: bold
        text-transform: uppercase
        line-height: 47.3px
        color: $white
      >p
        width: 60rem
        font-size: 1.6rem
        line-height: 24px
        color: $white

    >div:last-child 
      display: grid
      grid-template-columns: 10% 1fr 1fr 1fr 10%
      grid-template-rows: 23.1rem 23.1rem 23.1rem 23.1rem 23.1rem
      
      >figure
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        gap: 2.2rem
        >img
          width: 50px
        >figcaption
          display: flex
          flex-direction: column
          gap: 1.8rem
          >h3
            font-size: 2.5rem
            font-weight: 600
            text-transform: uppercase
            line-height: 37.5px
            color: $white
          >p
            font-size: 1.6rem
            line-height: 24px
            color: $white



      >figure:nth-child(1)
        grid-column: 3
        grid-row: 1
        text-align: center
      >figure:nth-child(2)
        grid-column: 2
        grid-row: 2
        align-items: flex-end
        text-align: end
      >figure:nth-child(3)
        grid-column: 4
        grid-row: 2
        align-items: flex-start
        text-align: start
      >figure:nth-child(4)
        grid-column: 2
        grid-row: 4
        align-items: flex-end
        text-align: end
      >figure:nth-child(5)
        grid-column: 4
        grid-row: 4
        align-items: flex-start
        text-align: start
      >figure:nth-child(6)
        grid-column: 3
        grid-row: 6
      >figure:nth-child(7)
        grid-column: 3
        grid-row: 2/4
        justify-content: normal
        border-radius: 4rem
        >img
          margin: 1.3rem
          width: auto
          border-radius: 4rem
          box-shadow: 4rem 4rem 10rem rgba(24, 48, 63, 0.5)
    








