@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


// @mixin toggleImageHeader
//   @media screen and ( max-width: 1480px )
//     @content
@mixin smallDesktop
  @media screen and ( max-width: 1310px )
    @content
@mixin tinyDesktop
  @media screen and ( max-width: 1015px )
    @content
@mixin tablet
  @media screen and ( max-width: 865px )
    @content
@mixin mobile
  @media screen and ( max-width: 700px )
    @content
    
  


$royal-blue: #5956E9
$black: #232233
$white: #fff
$gray: #6C6C72

$effect-box-shadown: 0px 1px 10px  rgba(0, 0, 0, 0.10)

html 
  font-size: 62.5%

body
  font-family: 'Josefin Sans'

#home 
  height: 100vh
  min-height: 860px
  background-image: url('../assets/imgs/backgrounds/background_header.png')
  background-size: cover
  display: grid
  grid-template-columns: 10% 1fr 10%
  @include smallDesktop
    grid-template-columns: 5% 1fr 5%
  @include mobile
    min-height: 122.7rem

  >header
    grid-column: 2
    margin-top: 3.5rem
    display: flex
    flex-direction: column
    gap: 1.5rem
    @include smallDesktop
      gap: 3.5rem
      

    .contactNav
      width: 100%
      display: flex
      justify-content: space-between
      color: $white
      @include mobile
        display: none
      >div:first-child
        display: flex
        gap: 4.7rem
        >figure
          display: flex
          align-items: center
          gap: 2.8rem
          >figcaption
            font-size: 1.6rem

      >div:last-child
        display: flex
        gap: 3rem
        


    >nav
      height: 6rem
      display: flex
      align-items: center
      justify-content: space-between
      background-color: $white
      border-radius: .5rem
      @include mobile
        height: 4rem

      .menuMobile
        display: none
        margin-left: 1rem
        @include tablet
          display: flex


      #logoHeader
        width: 20rem
        height: calc( 100% + 3rem )
        background-color: $white
        border-radius: .5rem
        display: grid
        place-items: center
        box-shadow: $effect-box-shadown
        @include mobile
          width: 10rem
          height: calc( 100% + 1rem )
          
        >img
          width: 16.7rem
          height: 2.6rem
          @include mobile
            width: 7.9rem
            height: 1.2rem

      >ul:first-child
        @include tablet
          display: none
      >ul
        display: flex
        align-items: center
        gap: 4rem
        font-size: 2rem
        font-weight: 600
        text-transform: uppercase
        @include smallDesktop
          gap: 1.8rem
        @include tinyDesktop
          font-size: 1.6rem
          gap: 1.1rem

        a
          text-decoration: none
          color: $black
          &:not( ul:last-child>li:last-child>a)::after
          @include tablet
            display: none
          &:not( ul:first-child>li:first-child>a, ul:last-child>li:last-child>a)::after
            content: ''
            display: block
            width: 0%
            height: 1px
            background-color: $black
            transition: 0.4s ease
          &:not( ul:first-child>li:first-child>a, ul:last-child>li:last-child>a):hover::after
            width: 100%
      
      // botão home
      >ul:first-child>li:first-child
        margin-left: 5.2rem
        @include smallDesktop
          margin-left: 3.2rem
        @include tinyDesktop
          margin-left: 2.2rem
        >a
          color: $royal-blue
          &::after
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: $royal-blue
            

      // botão donwload
      >ul:last-child>li:last-child>a
        width: 15.8rem
        height: 5rem
        margin-right: .5rem
        color: $white
        background-color: $royal-blue
        border-radius: .5rem
        display: flex
        align-items: center
        justify-content: center
        @include mobile
          width: 7.6rem
          height: 3.4rem
          font-size: 1rem
        &:hover
          background-color: #6663e2

      
  
  // seção de conteudo em texto e imagem de celular da home


  $margin-conteiner-conteudo-text-top-right-left: 4rem 2.3rem 0rem 3rem
  $margin-conteiner-conteudo-text-right-bottom-left: 0rem 2.3rem 4rem 3rem
  @include tablet
    $margin-conteiner-conteudo-text-top-right-left: 1.4rem .7rem 0rem 1.8rem
    $margin-conteiner-conteudo-text-right-bottom-left: 0rem .7rem 1.4rem 1.8rem

  >section
    grid-column: 2/4
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    overflow: hidden
    @include mobile
      flex-direction: column
      justify-content: space-around 
      gap: 4rem   
    .conteudoHeader
      width: 57rem
      height: 43.2rem
      display: flex
      justify-content: space-between
      flex-direction: column
      background-color: $white
      border-radius: 1px
      position: relative
      z-index: 10
      @include smallDesktop
        width: 51.3rem
        height: 42rem
      @include tinyDesktop
        width: 46.1rem
        height: 38rem
      @include tablet
        width: 35.6rem
        height: 31.8rem



      >div:first-child
        margin: $margin-conteiner-conteudo-text-top-right-left
        >h1
          font-size: 4.88rem
          text-transform: uppercase
          font-weight: bold
          line-height: 130%
          color: $royal-blue
          margin-bottom: 1.8rem
          @include smallDesktop
            font-size: 4rem
          @include tinyDesktop
            font-size: 3.5rem
            margin-bottom: .6rem
          @include tablet
            font-size: 3.12rem
            margin-bottom: .6rem
        >p
          width: 85%
          font-size: 1.6rem
          line-height: 24px
          color: $gray
          @include tablet
            width: 100%

      >div:last-child
        margin: $margin-conteiner-conteudo-text-right-bottom-left
        >h3
          font-size: 2.5rem
          font-weight: 600
          line-height: 37.5px
          text-transform: uppercase
          color: $black
          margin-bottom: .5rem
          @include tinyDesktop
            font-size: 2rem
        >figure
          display: flex
          align-items: center
          gap: 1.4rem
          >img
            width: 14.9rem
            height: 4.7rem

    // borda quadrado envolta do titulo e descrição
    .bordaQuadrada
      width: 57rem
      height: 43.2rem
      position: absolute
      display: flex
      align-items: center
      left: 50px
      z-index: 1
      @include smallDesktop
        width: 51.3rem
        height: 42rem
      @include tinyDesktop
        width: 46.1rem
        height: 38rem
      @include tablet
        width: 37.5rem
        height: 31.8rem
        left: 16px
      @include mobile
        height: 100%
        align-items: flex-start
      

      >div
        width: 100%
        height: calc( 100% + 100px )
        border: 1.8rem solid #7572FF
        z-index: -1
        @include smallDesktop
          height: calc( 100% + 70px )
        @include tinyDesktop
          height: calc( 100% + 80px )
        @include tablet
          height: calc( 100% + 32px )
        @include mobile
          height: calc( 31.8rem + 32px )
  
    >figure
      height: 100%
      @include mobile
        height: 50%
        align-self: flex-end

      >img
        width: 100%
        height: 90%
        margin-left: 50px
        object-fit: contain
        object-position: left
        @include mobile
          height: 100%
          object-position: left
          margin-left: 50px



// section do About

main>section:first-child
  height: 101.4rem
  display: grid
  place-items: center
  grid-template-columns: 12% 1fr 12%
  @include tinyDesktop
    height: 84.8rem
    grid-template-columns: 5% 1fr 5%
  @include mobile
    height: 108.7rem
  

  #contentAbout
    width: 100%
    grid-column: 2
    display: flex
    flex-direction: column
    align-items: center
    gap: 6rem

    >div:first-child
      width: 100%
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      gap: 1.8rem
      >h3
        font-size: 3.12rem
        font-weight: bold
        text-transform: uppercase
        line-height: 47.3px
        color: $black
      >p
        width: 60rem
        font-size: 1.6rem
        line-height: 24px
        color: $gray
        @include mobile
          width: 100%
    
    >div:last-child
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      @include mobile
        flex-direction: column
      >figure
        flex: 1
        >img
          width: 100%
          max-width: 38.6rem
          @include mobile
            max-height: 35.9rem


      .containerCardsAbout
        flex: 1
        display: flex
        flex-direction: column
        gap: 4rem
        @include tinyDesktop
          flex: 1.5
          gap: 2rem
        >div
          height: 16rem
          display: grid
          grid-template-columns: 1.8rem 4.1rem 1fr 2rem
          grid-template-rows: 3rem 1fr 2.1rem
          box-shadow: $effect-box-shadown
          border-radius: 1rem
          overflow: hidden
          @include tinyDesktop
            height: 11rem
          @include mobile
            grid-template-columns: 1.9rem 6.1rem 1fr 1.6rem
            grid-template-rows: 1.8rem 1fr 1rem
          >figure
            grid-column: 2
            grid-row: 2
            height: 80%
              

          >div:last-child
            grid-column: 3
            grid-row: 2
            display: flex
            flex-direction: column
            justify-content: space-between
            >h4
              font-size: 2rem
              font-weight: 600
              text-transform: uppercase
              line-height: 30px
              color: $black
            >p
              font-size: 1.6rem
              line-height: 24px
              color: $gray
              @include mobile
                line-height: normal
              
              
              

// section de App features

main>section:nth-child(2)
  height: 171rem
  display: flex
  align-items: center
  justify-content: center
  background-image: url('../assets/imgs/backgrounds/background_header.png')
  background-size: cover
  background-position: bottom
  @include tablet
    height: 136.6rem
  @include mobile
    height: 223rem


  #contentFeatures
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    >div:first-child
      width: 100%
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
      gap: 1.8rem
      @include mobile
        margin-bottom: 3.2rem
      >h3
        font-size: 3.12rem
        font-weight: bold
        text-transform: uppercase
        line-height: 47.3px
        color: $white
      >p
        width: 60rem
        font-size: 1.6rem
        line-height: 24px
        color: $white
        @include mobile
          width: 90%

    >div:last-child 
      display: grid
      grid-template-columns: 10% 1fr 1fr 1fr 10%
      grid-template-rows: 23.1rem 23.1rem 23.1rem 23.1rem 
      gap: 2rem
      @include smallDesktop
        grid-template-columns: 5% 1fr 1fr 1fr 5%
        grid-template-rows: 17.1rem 17.1rem 17.1rem 17.1rem
        gap: 1.8rem
      @include tablet
        grid-template-rows: 17.1rem 17.1rem 5rem 17.1rem
      @include mobile
        grid-template-columns: none
        grid-template-rows: none
        gap: 4rem
        

      
      
      >figure
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        gap: 2.2rem
        @include smallDesktop
          gap: 1rem
        @include mobile
          width: 22.3rem
          height: 17.1rem
        >img
          width: 50px
          @include smallDesktop
          width: 40px
        >figcaption
          display: flex
          flex-direction: column
          gap: 1.8rem
          @include smallDesktop
            gap: 1rem
          >h3
            font-size: 2.5rem
            font-weight: 600
            text-transform: uppercase
            line-height: 37.5px
            color: $white
            @include smallDesktop
              font-size: 2rem
              line-height: 30px
          >p
            font-size: 1.6rem
            line-height: 24px
            color: $white
            @include smallDesktop
              font-size: 1.6rem



      >figure:nth-child(1)
        grid-column: 3
        grid-row: 1
        text-align: center
        @include mobile
          grid-column: 1
          grid-row: 1
          text-align: center

      >figure:nth-child(2)
        grid-column: 2
        grid-row: 2
        align-items: flex-end
        text-align: end
        @include mobile
          grid-column: 1
          grid-row: 2
          text-align: center
          align-items: center

      >figure:nth-child(3)
        grid-column: 4
        grid-row: 2
        align-items: flex-start
        text-align: start
        @include mobile
          grid-column: 1
          grid-row: 5
          text-align: center
          align-items: center

      >figure:nth-child(4)
        grid-column: 2
        grid-row: 4
        align-items: flex-end
        text-align: end
        @include mobile
          grid-column: 1
          grid-row: 3
          text-align: center
          align-items: center

      >figure:nth-child(5)
        grid-column: 4
        grid-row: 4
        align-items: flex-start
        text-align: start
        @include mobile
          grid-column: 1
          grid-row: 6
          text-align: center
          align-items: center

      >figure:nth-child(6)
        grid-column: 3
        grid-row: 5
        text-align: center
        @include mobile
          grid-column: 1
          grid-row: 7
          text-align: center

      >figure:nth-child(7)
        min-width: 21.4rem
        grid-column: 3
        grid-row: 2/5
        border-radius: 4rem
        @include mobile
          grid-column: 1
          grid-row: 4
          width: 21.4rem
          height: 46.8rem
          justify-self: center
        >img
          object-fit: cover
          object-position: top
          width: 100%
          height: 100%
          border-radius: 4rem
          box-shadow: 4rem 4rem 10rem rgba(24, 48, 63, 0.5)



// section de interface e download
main>section:nth-child(3)
  height: 65.4rem
  display: grid
  grid-template-columns: 8% 1fr 8%
  @include tinyDesktop
    grid-template-columns: 4% 1fr 4%
  @include mobile
    height: 92.3rem
    margin: 6rem 0rem

  
  .contentInterfaceAndDownload
    grid-column: 2
    display: flex
    flex-direction: column 
    justify-content: center //não irá funcionar pois está sem sua section de cima, a "interface"
    align-items: center
    
    >div:first-child
      display: none
    >div:last-child
      height: 50.6rem
      display: flex
      @include mobile
        flex-direction: column
        height: 100%

      >div:first-child
        flex: 1
        display: flex
        flex-direction: column
        justify-content: space-between
        @include mobile

        >h3
          font-size: 3.12rem
          font-weight: bold
          text-transform: uppercase
          line-height: 47.3px
          color: $black
        >p
          font-size: 1.6rem
          line-height: 24px
          color: $gray
 
        >figure
          display: flex
          align-items: center
          gap: 1.4rem
          @include mobile  
            width: 100%
            justify-content: space-between
          >img
            width: 14.9rem
            height: 4.7rem
            cursor: pointer

        >div:last-child
          display: flex
          gap: 3rem
          @include mobile  
            width: 100%
            justify-content: space-between
          >figure
            width: 17rem
            height: 17.6rem
            background-color: #5851EA
            border-radius: 1rem
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 1.8rem
            color: $white
            @include tinyDesktop  
              width: 9.6rem
              height: 10rem
              gap: .8rem

            >img
              width: 3.5rem
              @include tinyDesktop  
                width: 1.8rem
            >p:nth-child(2)
              font-size: 2.5rem
              font-weight: 600
              line-height: auto
            @include tinyDesktop  
              font-size: 2rem
            >p:last-child
              font-size: 2rem
              @include tinyDesktop  
                font-size: 1.6rem

      >figure
        flex: 1
        >img
          width: 100%
          height: 100%
          object-fit: contain
    




// section de como usar o aplicativo
main>section:nth-child(4)
  margin-bottom: 8rem
  height: 68.2rem
  display: flex
  justify-content: center
  align-items: center
  position: relative
  @include tinyDesktop 
    height: 52.3rem


  .contentHowToUse
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-start

    >div:first-child
      width: 100%
      height: 47.7rem
      display: flex
      justify-content: center
      align-items: center
      background-image: url('../assets/imgs/backgrounds/background_header.png')
      @include tinyDesktop 
        height: 40rem
      >div
        width: 60.1rem
        display: flex
        flex-direction: column
        gap: 2.3rem
        transform: translateY(-6rem)
        text-align: center
        @include tinyDesktop
          width: 45rem
          gap: 1.8rem
        @include tablet
          width: 90%
        
        >h2
          font-size: 3.12rem
          font-weight: bold
          text-transform: uppercase
          line-height: 47.3px
          color: $white
        >p
          font-size: 1.6rem
          line-height: 24px
          color: $white



    >figure
      width: 77rem
      height: 31.9rem
      align-self: center
      display: flex
      bottom: 0
      border-radius: 1rem
      overflow: hidden
      cursor: pointer
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      position: absolute
      transform: translateY(5rem)
      @include tinyDesktop 
        width: 57rem
        height: 23.1rem
        transform: translateY(6rem)
      @include mobile
        width: 34.3rem
        height: 15rem
        transform: translateY(0rem)

      >img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
       

// section do perfil do time
main>section:nth-child(5)
  // height: 102.1rem
  margin: 24rem 0rem
  margin-bottom: 
  display: grid
  grid-template-columns: 8% 1fr 8%
  @include smallDesktop
    grid-template-columns: 4% 1fr 4%

  @include mobile
  .contentTeam
    grid-column: 2
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 6rem

    >div:first-child
        width: 60.1rem
        display: flex
        flex-direction: column
        gap: 2.3rem
        text-align: center
        @include tinyDesktop
          width: 45rem
          gap: 1.8rem
        @include tablet
          width: 90%
        
        >h3
          font-size: 3.12rem
          font-weight: bold
          text-transform: uppercase
          line-height: 47.3px
          color: $black
        >p
          font-size: 1.6rem
          line-height: 24px
          color: $gray

    >div:last-child
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: center
      gap: 3rem
      >figure
        width: 37rem
        height: 58rem
        box-shadow: $effect-box-shadown
        border-radius: 1rem
        display: flex
        flex-direction: column
        @include mobile
          width: 34.3rem
          height: 58rem

        
        
        >div:first-child
          flex: 1
          display: grid
          place-items: center
          >div
            width: 19.8rem
            height: 19.8rem
            position: relative
            &::after
              content: ''
              position: absolute
              top: calc( -8% + 1.05rem )
              left: calc( -8% + 1.05rem )
              width: 116%
              height: 116%
              background-color: $royal-blue
              border-radius: 50%
              z-index: -2
            &::before
              content: ''
              position: absolute
              top: 2rem
              left: 2rem
              width: 90%
              height: 90%
              background-color: $white
              border-radius: 10px
              z-index: -1
              animation: perfil 50s linear infinite
              transition: 4s linear
            &:hover::before
              animation: perfil2 2s 1
              @include mobile
                animation: none

            @keyframes perfil
              to 
                rotate: 360deg
                         
            @keyframes perfil2
              to 
                rotate: 360deg
            
            
            >img
              width: 100%
              height: 100%
              position: absolute
              border-radius: 50%
              border: 1rem solid #fff
              
        >figcaption
          flex: 1
          display: flex
          flex-direction: column
          align-items: center
          justify-content: space-around
          text-align: center

          >div:first-child
            display: flex
            flex-direction: column
            >h2
              font-size: 3.12rem
              font-weight: bold
              text-transform: uppercase
              line-height: 47.3px
              color: $black
              @include smallDesktop
                font-size: 2.6rem
              @include tinyDesktop
                font-size: 2rem
            >h3
              font-size: 2rem
              font-weight: 600
              text-transform: uppercase
              line-height: 30px
              color: $gray
              @include smallDesktop
                font-size: 1.8rem
              @include tinyDesktop
                font-size: 1.6rem
          
          >p
            width: 90%
            font-size: 1.6rem
            line-height: 24px
            color: $gray

          >div:last-child
            width: 90%
            display: flex
            justify-content: space-evenly

            >figure
              cursor: pointer
            >figure:not(figure:last-child)::after
              content: ''
              display: inline-block
              width: .1rem
              height: 100%
              background-color: $black
              margin-left: 3.1rem
              @include smallDesktop
                margin-left: 2.1rem




footer
  padding-top: 23.5rem
  background-color: $black
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: $white
  position: relative


  .contact
    width: 80%
    height: 23rem
    position: absolute
    top: -12.8rem
    background-color: $white
    border-radius: 3rem
    box-shadow: 0rem 1rem 10rem rgba(0, 0, 0, 0.24)
    display: flex
    justify-content: space-around
    align-items: center
    @include mobile
      flex-direction: column
      height: 31rem

    >div
      display: flex
      align-items: center
      gap: 1.8rem
      color: $black
      @include mobile
        flex-direction: column
      >div:first-child
        width: 6rem
        height: 6rem
        display: grid
        place-items: center
        background-color: $royal-blue
        border-radius: 50%
        >img
          width: 2.4rem
      >figcaption
        font-size: 2.5rem
        font-weight: 600
        line-height: 37.5px
        @include tinyDesktop
          font-size: 1.6rem
        @include mobile
          font-size: 2rem
    



  >div:nth-child(2)
    width: 90%
    height: 100%
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    justify-content: space-between
    padding-bottom: 6.4rem
    border-bottom: 1px solid $white
    @include tinyDesktop
      gap: 6.2rem

    >div:first-child
      height: 18.3rem
      display: flex
      flex-direction: column
      gap: 3.8rem

      >div:first-child
        display: flex
        flex-direction: column
        >h3
          font-size: 3.12rem
          font-weight: bold
          line-height: 47.3px
        >p
          max-width: 33.4rem
          font-size: 1.6rem
          line-height: 24px
          color: $white

      >div:last-child
        display: flex
        >figure:first-child
          padding-right: 3.2rem
        >figure:not(figure:first-child)
          padding: 0rem 3.2rem
          border-left: 1px solid $white
        >figure>img
          cursor: pointer

    >ul
      display: flex
      flex-direction: column
      font-size: 1.6rem
      >li:first-child
        font-size: 3.12rem
        font-weight: 600
        line-height: 37.5px
        text-transform: uppercase
        margin-bottom: 1.1rem
      >li
        margin-bottom: 1.2rem


    >div:last-child
      display: flex
      flex-direction: column
      gap: 3.3rem

      >div
        display: flex
        flex-direction: column
        gap: 1.1rem
        >h3
          font-size: 3.12rem
          font-weight: 600
          line-height: 37.5px
          text-transform: uppercase
        >p
          max-width: 33.4rem
          font-size: 1.6rem
          line-height: 24px
      >form
        display: flex
        align-items: center
        position: relative
        >input
          width: 36.9rem
          height: 5rem
          border: none
          outline: none
          text-indent: 1.8rem
          border-radius: .4rem
          background-color: $white
          &::placeholder
            color: $gray
        >button
          width: 5.2rem
          height: 4.6rem
          right: 2px
          position: absolute
          border: none
          background-color: $royal-blue
          border-radius: .4rem
          cursor: pointer
          &:hover
            background-color: #6663e2


.copyright
  margin: 1.8rem 0rem 
  font-size: 1.6rem
  line-height: 24px
      




    
          
  





  





